#group_email {
    max-height: 150px;
    overflow: scroll
}

table.table-middle td {
    vertical-align: middle !important
}

table.table-middle td span.help-block, table.table-middle td span.help-block ul {
    margin-bottom: 0;
    font-size: 12px
}